* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

/* -----------------------For Main Container----------------------------- */

.main-container {
  height: auto;
  background-image: url("assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-right-radius: 5%;
  overflow: hidden;
}

/* ------    For header    ----- */

header {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/*---- For Logo ----*/

.logo {
  background-image: url("assets/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 80%;
  width: 10vw;
  min-width: 71px;
  margin-left: 13vw;
}

/* -----  For Navigation Bar ----- */

nav {
  max-width: 50%;
  flex-grow: 2;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 10px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(197, 192, 192);
}

/* -------- For Main Button ------- */
.main-btn {
  margin-right: 10vw;
}

.login-btn {
  background-color: transparent;
  border: none;
  color: rgb(212, 211, 211);
}

.started-btn {
  padding: 10px;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  margin-left: 30px;
  color: white;
  background-color: rgb(210, 41, 196);
}


/* Media Queries for Header  */

@media (min-width:1600px) {
  nav ul li a {
    font-size: 3rem;
    padding: 10px;
  }

  .main-btn {
    width: 20%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login-btn,
  .started-btn {
    font-size: 3rem;
  }
}

/* Option Button Media Queries */
@media (min-width:768px) {
  .option-icon {
    display: none;
  }
}

@media (max-width:768px) {

  nav,
  .login-btn {
    display: none;
  }

  .main-btn {
    display: flex;
  }

  header {
    justify-content: space-between;
  }

  .icon1 {
    color: white;
    padding-left: 7px;
    margin-top: 7px;
  }

  .option-icon {
    margin-left: 15px;
  }

  /* .logo{background-position-y: 15px; height: 100%;} */
  .started-btn {
    min-width: 112px;
  }

  .logo {
    margin-left: 7px;
  }
}


/* --------------------For Feature Sections ------------------------- */

.feature {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: white;
  padding-left: 10vw;
  gap: 3vw;
}

.f-item {
  overflow: hidden;
}

.feature-content {
  height: 90%;
  width: 46%;
  padding-top: 5vh;
  margin-left: -50px;
}

.feature-content h1 {
  display: inline-block;
  /* Now H1 acts like inline */
  font-size: clamp(2.8rem, 4vw, 4rem);
  font-weight: bolder;
  line-height: 1.1;
  margin-right: 10px;
  /* Space between h1s */
  font-weight: 1000;
  margin-bottom: 2vh;
}

.feature-content p {
  font-size: clamp(0.5rem, 1vw, 1rem);
}

.feature-offer {
  width: 25%;
}

/* -------- For Feature Button ---------- */

.feature-btn {
  margin-top: 6vh;
}

.trial-btn,
.google-btn {
  padding: 13px 28px;
  border: none;
  border-radius: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.trial-btn {
  margin-right: 1vw;
  background-color: rgb(226, 73, 213);
}

.google-btn {
  background-color: rgb(40, 193, 207);
}

button {
  cursor: pointer;
}

/* -------------------- Feature Offer ------------------- */

.feature-offer {
  padding: 10px;
  min-width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 12vh;
}

.offer {
  padding: 18px;
  border-radius: 11px;
  font-size: 14px;
  background: linear-gradient(to bottom,
      rgba(255, 250, 250, 0.738) 0%,
      rgba(219, 215, 215, 0.708) 35%,
      rgba(255, 247, 247, 0) 100%);
  margin: 18px;
  min-width: 247px;
  max-width: 290px;
  margin-left: 5vw;
}

.offer b {
  margin-top: 2.8px;
}

.tick {
  background-color: #72acf8;
  padding: 6px 6px 4px 6px;
  border-radius: 50%;
  text-align: center;
}

/*------------ Media Queries for Main Container ------- */

@media (min-width:1650px) {
  .feature h1 {
    /* font-size: 10rem; */
    font-size: 6rem;
  }

  .feature-content {
    display: flex;
    flex-direction: column;
    /* width: 60%; */
    font-size: 16rem;
    row-gap: 3vh;
    width: 60%;
  }

  .feature p {
    font-size: 3rem;
  }

  .feature-btn {
    margin: 0px;
    /* background-color: red; */
    display: flex;
    width: 50%;
    flex-direction: column;
  }

  .google-btn,
  .trial-btn {
    width: 80%;
    min-width: 848px;
    height: 8vh;
    font-size: 2.5rem;
    border: none;
    margin: 8px;
  }

  /* For feature offer media queries */
  .feature-offer {
    height: 80%;
  }

  .offer {
    height: 12%;
    max-width: 80%;
    min-width: 70%;
    justify-content: center;
    font-size: 2.2rem;
    margin-left: 0px;

  }
}

@media(max-width:900px) and (min-width:768px) {
  .google-btn {
    margin-top: 10px;
  }
}

/*------ Media Queries for Mobile Phone ---------*/
@media(max-width:768px) {
  .feature-content h1 {
    font-size: clamp(2rem, 4vw, 4rem);
  }

  .main-container {
    height: auto;
  }

  .feature {
    flex-direction: column;
    margin: 0px;
    padding: 0px;
  }

  .feature-content {
    width: 100%;
    /* min-height: 40vh;  */
    margin: 0px;
    justify-content: start;
    align-items: start;
    padding-left: 19px;
    height: auto;
    padding-top: 0px;
    padding-bottom: 15px;
  }

  .feature-content p {
    font-size: 0.8rem;
  }

  .feature-offer {
    height: auto;
    margin: 0px;
    justify-content: start;
    width: 100%;
    align-items: start;
  }

  .offer {
    margin: 7px;
    min-width: 90%;
    margin-left: 9px;
    font-weight: 900;
    font-size: 0.9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .feature-btn {
    margin-top: 14px;
  }

  .google-btn {
    padding: 14px
  }

  .feature {
    margin-top: -20px;
  }
}


/* For Container 1 */

.container1 {
  /* border: 2px solid black; */
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container1 h1 {
  font-weight: 900;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 5vw;
}

.container1 p {
  color: rgb(112, 111, 111);
  margin-right: 5vw;
}

@media (max-width:768px) {
  .container1 {
    flex-direction: column;
    align-items: start;
    margin-top: 8vh;
  }

  .container1 p {
    margin-left: 5vw;
  }
}


/*----------------------- For Container 2 ------------------*/

.container2 {
  display: flex;
  height: 30vh;
  gap: 18px;
  align-items: center;
  justify-content: center;
}

.container2 h4 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.box {
  padding-top: 28px;
  padding-left: 20px;
  width: 22vw;
  height: 25vh;
  color: rgb(13, 13, 58);
  border-radius: 8px;
  background: #eeaeca;
  background: linear-gradient(33deg,
      rgb(220, 184, 188) 0%,
      rgba(201, 205, 212, 1) 46%);
  font-size: smaller;
  color: rgb(110, 109, 109);
  overflow: hidden;
}

.box h2 {
  color: black;
  margin-top: 2vh;
}

.icon {
  color: white;
}

.box i {
  background-color: rgb(13, 13, 58);
  padding: 11px;
  border-radius: 50%;
}

.box p {
  margin-top: 2vh;
}

/*-------------- Media Queries for container 2 -------------------- */

@media (max-width: 768px) {
  .container2 {
    flex-direction: column;
    width: 100%;
    height: 40%;
    margin-top: 4vh;
  }

  .box {
    width: 90%;
    height: 35%;
    padding-bottom: 15%;
  }

  .box p {
    font-size: 0.9rem;
    margin-top: 2vh;
  }
}

/* --------------- For Container No 3 --------------- */

.container3 {
  width: 70vw;
  display: flex;
  margin-left: 15.5vw;
  margin-top: 10vh;
  align-items: center;
  gap: 3vw;
  height: auto;
  overflow: hidden;
}

.cont3-img {
  /* margin-top: 10vh; */
  width: 40vw;
  height: 53vh;
  border-radius: 8px;
  background-image: url("assets/container3.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.cont3-main {
  color: black;
  height: 50vh;
  width: 60vw;
  margin-top: 2vh;
  margin-bottom: 4vh;
}

.cont3-txt {
  display: flex;
  flex-direction: column;
}

.cont3-main h2 {
  font-size: 2.3rem;
}

.cont3-main p {
  color: rgb(136, 135, 135);
  margin-top: 1.5vh;
  margin-bottom: 3vh;
  font-size: 1rem;
}

.cont3-main b {
  display: block;
  font-size: 15px;
  padding-bottom: 3px;
}

.icon3 {
  background-color: rgb(0, 136, 247);
  color: white;
  margin: 0 5px;
}

.tick2 {
  color: white;
  padding: 5px 5px 4px 5px;
  background-color: #559af5;
  border-radius: 50%;
  margin: 3px;
}

.read {
  color: rgb(206, 45, 176);
  position: relative;
  top: -25px;
  text-decoration: none;
  display: flex;
  padding: 10px;
  margin-left: -4px;
}

.read i {
  margin-left: 10px;
  margin-top: 4px;
}

.compaign {
  display: flex;
  height: auto;
}

.tick3 {
  background-color: #559af5;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  text-align: center;
  color: white;
  padding: 5px;
  /* margin-top: 5px; */
  margin-left: 3px;
  margin-top: 3px;
}

.compaign-line {
  color: rgb(4, 4, 4) !important;
  position: relative;
  top: -10px;
  left: 6px;
  font-weight: bold;
}

/*--------- Media Queries for Container 3 -------------*/

@media (max-width:768px) {
  .container3 {
    flex-direction: column-reverse;
    width: 100%;
    margin: 0px;
    margin-top: 5vh;
  }

  .cont3-main {
    width: 90%;
    /* padding-left: 5vw; */
  }

  .cont3-main h2 {
    font-size: 2rem;
  }

  .read i {
    display: none;
  }

  .read {
    color: rgb(196, 16, 124);
  }
  .read b{
    font-size: 1.4rem;
  }
  .cont3-img {
    width: 90%;
    margin-top: 3vh;
  }
}


/* -------------- For Container 4 -------------- */


.container4 {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  width: 99vw;
  overflow: hidden;
  margin-top: 2vh;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 800px;
}

.section-title .line {
  flex: 1;
  height: 1px;
  background-color: #bdbdc2;
  max-width: 100px;
}

.section-title h2 {
  font-size: 28px;
  font-weight: 800;
  margin: 0;
  color: #000;
  font-family: "Segoe UI", sans-serif;
}

@media (max-width:768px) {
  .section-title h2 {
    font-size: 1.4rem;
  }

  .section-title .line {
    max-width: 50px;
  }
}


/* ------------------------- Container no 5 -------------------- */

.container5 {
  width: 70vw;
  margin-left: 15vw;
  height: 30vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  padding: 14px;
  position: relative;
  /* margin-top: 2vh; */
}

.box5 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.logo1 {
  background-image: url("assets/icons/1200px-WikiHow_logo\ 2.png");
}

.logo2 {
  background-image: url("assets/icons/5841c6fba6515b1e0ad75aaa\ 1.png");
}

.logo3 {
  background-image: url("assets/icons/7046847_preview\ 1.png");
}

.logo4 {
  background-image: url("assets/icons/animeplanet-png\ \(2\)\ 2.png");
}

.logo5 {
  background-image: url("assets/icons/ask-logo-png-transparent\ 1.png");
}

.logo6 {
  background-image: url("assets/icons/ASK_fm_logo\ 1.png");
}

.logo7 {
  background-image: url("assets/icons/ghost-logo-dark-png\ 1.png");
}

.logo8 {
  background-image: url("assets/icons/medium_png\ 1.png");
}

.logo9 {
  background-image: url("assets/icons/MyAnimeList-logo\ 1.png");
}

.logo10 {
  background-image: url("assets/icons/png-transparent-reddit-logo-computer-icons-reddit-alien-text-orange-logo\ 1.png");
}

.logo11 {
  background-image: url("assets/icons/Stack_Exchange_logo_and_wordmark\ 1.png");
}

.logo12 {
  background-image: url("assets/icons/surface1.png");
}

.logo13 {
  background-image: url("assets/icons/writeas-logo-png\ 1.png");
}

.more {
  color: rgb(26, 25, 25);
  font-weight: bold;
  text-align: center;
}


/* Media Queries for container 5 */

@media (max-width: 768px) {
  .container5 {
    max-height: 10vh;
    width: 95%;
    margin-left: 4%;
  }
}


/*-------------------- For Container 6  -------------------------*/

.container6 {
  /* border: 2px solid black; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
}

.search-content {
  max-width: 40%;
  margin-top: 4vh;
}

.search-content p {
  color: rgb(100, 100, 100);
  max-width: 60%;
  padding-top: 3vh;
}

.search-content h1 {
  font-size: 2.5rem;
}

/*---------------------- Media Queries for Container 6 --------------*/

@media (max-width: 768px) {
  .container6 {
    flex-direction: column;
    align-items: start;
    margin-top: 3vh;
  }

  .search-content {
    max-width: 80%;
    margin-left: 6vw;
  }

  .search-content p {
    max-width: 100%;
  }

  .search-content h1 {
    font-size: 2rem;
  }

  .search-img {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .search-img img {
    width: 80%;
    height: 80%;
  }
}


/* ---------------------- Container No 7 ------------------------- */

.container7 {
  padding-top: 10vh;
  padding-left: 2vw;
  overflow: hidden;
}

.cont7-txt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont7-txt h1 {
  max-width: 40%;
  font-size: 2.1rem;
  font-weight: bolder;

}

.cont7-txt p {
  max-width: 30%;
  color: #585757;
  padding-top: 1.2vh;
}

/* -------Media queries for cont7-txt ------- */

@media(max-width: 768px) {
  .cont7-txt {
    flex-direction: column;
  }

  .cont7-txt h1 {
    font-size: 1.4rem;
    max-width: 90%;
  }

  .cont7-txt p {
    max-width: 87.5%;
  }

  .container7 {
    padding-top: 3vh;
  }

}


/* ----------------------- For container 7 ------------------------- */

.container7 {
  height: 80vh;
  background-color: #e7e7ea;
  padding-top: 100px;
  margin-top: 12vh;
}

.cont7-text {
  display: flex;
  gap: 5vw;
  color: black;
  margin-left: 14vw;
}

.cont7-text h1 {
  font-size: 42px;
}

.cont7-text p {
  margin-top: 30px;
  color: #777272;
  font-size: medium;
  max-width: 30%;
}

.stats {
  max-width: 60vw;
  color: black;
  display: flex;
  gap: 4vw;
  position: relative;
  top: 4vw;
  left: 14vw;
  gap: 10vw;
}

.stat-box h1 {
  color: rgb(164, 7, 78);
  font-size: 39px;
  font-weight: bolder;
}

.stat-box p {
  color: #7c7c7f;
  margin-top: 20px;
}

/* Media Queries for container 7 */

@media(max-width:768px) {
  .cont7-text{
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    margin-left: 3vw;
  }

  .container7 {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 5vh;
  }
  .cont7-text h1{
    font-size: 1.45rem;
    font-weight: bolder;
  }
  .cont7-text p{
    max-width: 95%;
    margin: 0px;
  }
  .stats{
    flex-wrap: wrap;
    gap: 0px;
    margin-left: -10%;
    justify-content: space-between;
    min-width: 90%;
    padding: 0px;
  }
  .stat-box{
    max-width: 40%;
    /* max-width: 40%; */
  }
  .stat3, .stat4{
    margin-top: 3vh;
    margin-bottom: 23vh;
  }
}


/* -----------------------------For Container 8 --------------------------*/

.container-8 {
  border-radius: 12px;
  background: #833ab4;
  background: #3d90fc;
  background: linear-gradient(34deg,
      rgba(61, 144, 252, 1) 17%,
      rgba(252, 61, 211, 1) 67%,
      rgba(252, 69, 249, 1) 100%);
  width: 73vw;
  height: 27vh;
  position: relative;
  left: 13.3vw;
  top: -16vh;
  display: flex;
  gap: 3vw;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.container-8 p {
  max-width: 30vw;
  color: white;
}

.container-8 h1 {
  color: white;
  font-size: 27px;
}

/*--------------------- Media Queries for Container 8 ---------------*/
@media (max-width: 768px) {
  .container-8{
    overflow: hidden;
    width: 90%;
    margin: 0px;
    left: 4vw;
    flex-direction: column;
    align-items: start;
    padding-left: 5vw;
    padding-right: 0px;
  }
  .container-8 h1{
    font-size: 1.2rem;
    max-width: 100%;
  }
  .container-8 p{
    max-width: 100%;
    font-size: 0.7rem;
  }
}

.say-txt{
  color: white;
  position: relative;
  top: -8vh;
  text-align: center;
  font-size: 2.2rem;
  max-width: 70%;
  left: 10vw;
  /* margin-bottom: 3vh; */
}


/*--------------------------- For Carousel Container -----------------------*/

.carousel-main-container {
  background-color: #2e0c44;
  width: 100%;
  height: 150vh;
}

.carousel-container {
  position: relative;
  width: 90%;
  max-width: 1150px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 15px;
}

.carousel-slide {
  min-width: calc((100% / 3) - (30px / 3));
  box-sizing: border-box;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 100;
}

.carousel-button.prev {
  left: 15px;
  color: transparent;
  background-color: transparent;
  padding: 100px;
}

.carousel-button.next {
  right: 15px;
  color: transparent;
  background-color: transparent;
  padding: 100px;
}

.carousel-button:hover {
  background-color: transparent;
}

.carousel-dots {
  text-align: center;
  position: relative;
  bottom: 20px;
  width: 100%;
  z-index: 100;
  margin-top: 35px;
  background: transparent;
}

.dot {
  display: inline-block;
  height: 32px;
  width: 32px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.dot.active,
.dot:hover {
  background-color: #ffffff;
  border: 4px solid rgb(202, 12, 202);
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .carousel-slide {
    /* Show 2 slides on tablets */
    min-width: calc((100% / 2) - (15px / 2));

  }
}

@media (max-width: 480px) {
  .carousel-slide {
    /* Show 1 slide on mobile */
    min-width: 100%;
    /* No gap needed for single item view */
  }

  .carousel-wrapper {
    gap: 0;
  }
}


.slide {
  /* border: 2px solid ; */
  padding: 30px;
  background-color: white;
  border-radius: 12px;

}

.girl-info {
  display: flex;
}

.slide img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.girl-name {
  margin-top: 10px;
  margin-left: 10px;
}

.slide p {
  position: relative;
  /* top: -10px; */
}

/* For star rating */

.fa-star {
  color: rgb(255, 251, 0);
  width: 15px;
  padding-bottom: 18px;
  margin-top: 10px;
}

/* Last paragraph */

.last-para {
  padding-top: 10px;
  color: #717171;
}


/* Last Container */

.last {
  /* border: 2px solid black; */
  height: 54vh;
  position: relative;
  background-color: #1a0530;
  /* overflow: hidden; */
}

.back {
  height: 30.2vh;
  background-color: red;
  position: absolute;
  width: 100%;
  top: -30.3vh;
  background: linear-gradient(34deg,
      rgba(61, 144, 252, 1) 17%,
      rgba(252, 61, 211, 1) 67%,
      rgba(252, 69, 249, 1) 100%);
}

.blank {
  height: 31vh;
  position: absolute;
  top: -31vh;
  background: linear-gradient(34deg,
      rgba(61, 144, 252, 1) 17%,
      rgba(252, 61, 211, 1) 67%,
      rgba(252, 69, 249, 1) 100%);
}

.try-box {
  /* border: 2px solid white; */
  /* width: 60vw; */
  height: 54vh;
  border-radius: 18px;
  background-color: white;
  position: absolute;
  left: 12vw;
  top: -45vh;
  background: #faf5f5;
  background: linear-gradient(18deg,
      rgba(250, 245, 245, 1) 48%,
      rgba(201, 61, 252, 1) 74%,
      rgba(100, 99, 233, 1) 93%,
      rgba(232, 0, 166, 1) 99%);
  display: flex;
  flex-direction: column;
  padding: 80px;
  color: black;
  width: 73vw;
}

.try-box h1 {
  font-size: 40px;
  padding: 10px;
}

.try-box p {
  color: rgb(91, 88, 88);
  padding: 10px;
}

.last-buttons {
  padding: 10px;
  display: flex;
  gap: 10px;
  margin-top: 5vh;
}

.email-btn {
  width: 15vw;
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 8px;
  /* border: 1px solid rgb(49, 48, 48); */
  background-color: transparent;
  cursor: pointer;
  border: 1px solid black;
  color: rgb(68, 68, 68);
  font-weight: bold;
}

.googlee-btn {
  color: white;
  background-color: #3d90fc;
  padding: 10px 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 9px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

/* ----------Media Queries For try box ----------------- */
@media(max-width:768px){
  .try-box{
    overflow: hidden;
    flex-direction: column;
    width: 90%;
    margin: 0px;
    left: 4vw;
    padding: 0px;
    margin-left: 1vw;
    height: auto;
    padding-bottom: 4vh;
  }
  .try-box h1{
    size: 1rem;
    max-width: 100%;
    font-size: x-large;
    font-weight: bolder;
    margin-top: 4vh;
  }
  .carousel-main-container{
    height: 165vh;
  }
  .googlee-btn{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
  }
  .googlee-btn, .email-btn{
         font-size: 0.6rem;
         width: 50%;
  }
}


.last-div {
  /* border: 2px solid white; */
  /* width: 60vw; */
  height: 25vh;
  position: absolute;
  top: 20vh;
  left: 12vw;
  display: flex;
  gap: 13vw;
}

.last-div h2{
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.last-div li{
  padding: 2px;
  margin-top: 10px;
  list-style: none;
}

.last-div li a{
  color: rgb(166, 163, 163);
  text-decoration: none;
}

footer {
  height: 10vh;
  color: white;
  border-top: 2px solid rgb(174, 173, 173);
  position: relative;
  top: 45vh;
  display: flex;
  align-items: center;
}

footer p {
  margin-left: 10vw;
}


@media(max-width:768px){
  .last-div{
    flex-direction: column;
    height: auto;
    background-color: #1a0530;
    /* background-color: red; */
    width: 100%;
    margin: 0px;
    padding: 0px;
    left: 0px;
    padding-left: 6vw;
    height: auto;
    margin-top: -13vh;
    gap: 5vw;
  }
  .carousel-main-container{
    height: 160vh;
    /* height: auto; */
  }
  footer{display: none;}
}

